CREATE DATABASE DEVAPP;
CREATE USER 'developer'@'%' IDENTIFIED BY '<PASSWORD>';
GRANT CREATE, ALTER, DROP, INSERT, UPDATE, DELETE, SELECT, REFERENCES, RELOAD on *.* TO 'developer'@'%' WITH GRANT OPTION;
FLUSH PRIVILEGES;
